TAURI_PUBLIC_KEY=dW50cnVzdGVkIGNvbW1lbnQ6IG1pbmlzaWduIHB1YmxpYyBrZXk6IDQ3NDhBRjMzOTE4NTlDNzEKUldSeG5JV1JNNjlJUjVIWHU3Yi9JWHI3TTgydkM5ZkI1ZVdFNnQrUVFaR08vNjluVWpzTmN5MUQK
TAURI_PRIVATE_KEY=dW50cnVzdGVkIGNvbW1lbnQ6IHJzaWduIGVuY3J5cHRlZCBzZWNyZXQga2V5ClJXUlRZMEl5TnlRdFZzRnl3TWxGZGc4amlJTjlncndJdWExYzZZOUlmUWgxNTZWSmR0a0FBQkFBQUFBQUFBQUFBQUlBQUFBQTZHRHdQb2xXeis0ZFpiSk5QdnFnMW81cHIwMStwR2tFRVBrbHNnVm5sZVhnY1pIaE9lWElmVW9HMnNSZThzbHQvNXBLd29EMXlwU2VzVFFtMzNqdFUwSTkzK29xUXlxbVFvbW5kT0g2VHNUY05tWFhMZXNCMldXYWpUM3E2VlFUY2lobFB0N2ZNbGM9Cg==