TAURI_PRIVATE_KEY=dW50cnVzdGVkIGNvbW1lbnQ6IHJzaWduIGVuY3J5cHRlZCBzZWNyZXQga2V5ClJXUlRZMEl5aXN5RllYelV1VEFMK0h2b1FjNnYzWlZ1YWs3WG9lbXdKcXRYMFBxMzZpUUFBQkFBQUFBQUFBQUFBQUlBQUFBQTM1SldibE84RVdFc2dyRDZWZjBQUi9ubHI0ekdtZVNWT1A2QlVtNWxoRU92Z0lsSUpNTVVlVmp4Uk1zWXUrL1BCZXlSTEdieVNqd1BIeWRUbzVUYTVSMG9BMVdGWnNORCtiZ1U2RHAwY3Q0TVp5OVpZODZYVUNtNnlQMmxVb3lQYlNtUnpjNGoxS1U9Cg==
TAURI_PUBLIC_KEY=dW50cnVzdGVkIGNvbW1lbnQ6IG1pbmlzaWduIHB1YmxpYyBrZXk6IDdDRDcwNzM5RDE1MEZGQUYKUldTdi8xRFJPUWZYZkV3QmxMcURzcC92cDdzUHJiMG5meXZFK1pEVDFHOHJxbU1adjB5akkrZEUK
