TAURI_PRIVATE_KEY=dW50cnVzdGVkIGNvbW1lbnQ6IHJzaWduIGVuY3J5cHRlZCBzZWNyZXQga2V5ClJXUlRZMEl5MEw0cnM3ejBLcU80RmovbDJULy9OTlZzM1p1K1BiRE03UFMrWjB2MkJra0FBQkFBQUFBQUFBQUFBQUlBQUFBQTE4bHJQVzhFVHZBeVdSY1E2YVU4alNIczRXRzZESzkwQ1RjYnFXdndHc3NDTkhJenB0dmJQa0xUcUFPay9peFkyM0VaekVPRjBQTTg4bHJacE80d2wvTVNkYzgwSmY3R2h3aWJJYUkvL1JyTW9TMHlCRlVkNEN0ZitpSWJYVURINEdVcDB1azFoU009Cg==
TAURI_PUBLIC_KEY=dW50cnVzdGVkIGNvbW1lbnQ6IG1pbmlzaWduIHB1YmxpYyBrZXk6IDZEQjAyODZCMjg4NkZEMDEKUldRQi9ZWW9heWl3YlhmMCtDTnNicVJxbkt5dGJqcWpXd2FGUWhFNXhVazBoWWVxdjIyV2VjOHoK
